@import "../lib/custom.bootstrap.import.less";
@import "../lib/custom.bootstrap.less";

#actions {
  text-align: center;
}

.form-actions {
  text-align: right;
}

.footer {
  padding-top: 20px;
  color: @gray-light;
  border-top: 1px solid @gray-lighter;
}

.core-info {
  .small;
}

@media (max-width: @screen-sm-min) {
  .form-actions {
    text-align: center;
  }

  .misc-info {
    .pull-right

  }

  .core-info {
    display: block;
    margin-top: 8px;
    margin-left: -7%;
  }

  .guardian-details {
    width: 94%;
    margin-top: -37px;
    margin-left: 6%;
  }

  .posted-date {
    font-style: italic;
  }

  .guardian-level-class {
    .label;
    .label-default;
  }

  #listings tr.listing {
    border-top: 1px solid #dddddd;

    > td {
      display: block;
      border-top: none;
    }
  }
}
