<body>
  <header class="header">
    <div class="container">
      <img src="destiny-logo-white.png" alt="Destiny Logo" class="destiny-logo">
      <div class="well">
        <p class="lead">The quickest and easiest way to find a Destiny fireteam.</p>
        <p class="intro">Looking for a fireteam? We've got you covered! Have a look through the listings below or use the filters to find your perfect fireteam. Alternatively, create your own listing for your guardian our fireteam. <strong>All listings will be automatically removed after 10 minutes.</strong> You can only have 1 listing active at a time. If you spot a problem with the website or have any feedback be sure to let us know by tweeting us at <a href="http://www.twitter.com/findmeafireteam" target="_blank">@findmeafireteam</a> or sending an email to <a href="mailto:admin@findmeafireteam.com">admin@findmeafireteam.com</a>.</p>
        {{> actions}}
      </div>
      {{> chats}}
    </div>
  </header>
  <div class="container" id="main">
    {{> filterListings}}
    {{> listings}}

    {{> joinFireteam}}
    {{> formFireteam}}
    {{> chat}}

    {{> footer}}
  </div>
</body>
