<template name="chats">
<div class="btn-group" id="chats">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Chats <span class="badge">3</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="#" data-toggle="modal" data-target="#chat">Guest456</a></li>
    <li><a href="#" data-toggle="modal" data-target="#chat">Guest12</a></li>
    <li><a href="#" data-toggle="modal" data-target="#chat">Guest28 <span class="badge">3</span></a></li>
  </ul>
</div>
</template>
