<template name="filterListings">
  <div id="filter-listings">
    <h3 class="page-header"><i class="fa fa-filter"></i> Filter Listings</h3>
    <form role="form" id="filter-listings-form">
      {{#if filterCriteriaModified}}
        <div class="alert alert-warning" role="alert">
          You have changed the search criteria. Make sure you press the <strong>Find Me A Fireteam</strong> button to refresh the results.
        </div>
      {{/if}}
      <div class="row">
        <div class="col-md-3">
          {{> commonFormSelect options=getCoreData.platforms name="platform" label="Platform" anyOption=true}}
        </div>
        <div class="col-md-3">
          {{> commonFormSelect options=getCoreData.regions name="region" label="Region" anyOption=true}}
        </div>
        <div class="col-md-3">
          {{> commonFormSelect options=getCoreData.activities name="activity" label="Activity" suboptions="subActivities" anyOption=true}}
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Listing Type</label>
            <select name="type" class="form-control">
              <option value="any">Any</option>
              <option value="guardian">Guardian looking for a fireteam</option>
              <option value="fireteam">Fireteam looking for guardians</option>
            </select>
          </div>
        </div>
      </div>
      <div id="advanced-options">
        {{#if displayJoinfireteamAdvancedOptions}}
          <div id="advanced-options-join-fireteam" class="advanced-suboptions row">
            <div class="col-md-3">
              {{> commonFormSelect options=getCoreData.classes name="class" label="Class" anyOption=true}}
            </div>
            <div class="col-md-3">
              {{> commonFormSelect options=getLightLevelOptions name="level" label="Light Level" anyOption=true}}
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" name="has_mic">
                    Guardian has a microphone
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" name="has_exp">
                    Guardian has activity experience
                  </label>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if displayFormfireteamAdvancedOptions}}
          <div id="advanced-options-form-fireteam" class="advanced-suboptions row">
            <div class="col-md-4">
              {{#with formId="filter-listings-form" optionLabelFilter=getFireteamSizeOptionLabelFilter}}
                {{> commonFormSelect options=getFireteamSizeOptions name="fireteam_size" label="Fireteam Size" anyOption=true}}
              {{/with}}
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" name="has_mic">
                    A guardian in the fireteam has a microphone
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1" name="has_exp">
                    A guardian in the fireteam has activity experience
                  </label>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row form-actions">
        <div class="col-md-12">
          <div class="form-group">
            <button type="reset" class="btn btn-default" {{filteringDisabled}}>Reset</button>
            <button type="submit" class="btn btn-primary" {{filteringDisabled}}>Find Me A Fireteam</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
