<template name="listings">
  <div id="listings">
    <h3 class="page-header"><i class="fa fa-list"></i> Listings</h3>
    {{#if listingsAreFiltered}}
      <div class="alert alert-info" role="alert">
        <p>You are currently filtering the listings that are being displayed. Press the <strong>Reset</strong> button above to remove all filters.</p>
      </div>
    {{/if}}
    {{#if newListingsAvailable}}
      <div class="alert alert-info" role="alert">
        <p>There has been <strong>{{newListingsAvailable}}</strong> new {{newListingsKeyword newListingsAvailable}} posted since your last reload. <button id="show-new-listings" class="btn btn-primary btn-xs text-capitalize">Show new {{newListingsKeyword newListingsAvailable}}</button></p>
      </div>
    {{/if}}
    {{#if listingsLoaded}}
      {{#if listings.count}}
        <table class="table table-hover">
          <thead>
            <tr class="hidden-xs">
              <th></th>
              <th>Guardian</th>
              <th>Activity</th>
              <th>Posted</th>
            </tr>
          </thead>
          <tbody>
            {{#each listings}}
              {{> listing}}
            {{/each}}
          </tbody>
        </table>
      {{else}}
        {{#if listingsAreFiltered}}
          <p class="lead">There are no listings that match your criteria.</p>
        {{else}}
          <p class="lead">There are no listings at the moment. Why not be the first to add one?</p>
        {{/if}}
      {{/if}}
    {{else}}
      <p class="lead">Loading listings...</p>
    {{/if}}
  </div>
</template>
