<template name="listing">
  <tr class="listing">
    <td class="visible-xs-inline-block visible-sm visible-md visible-lg">
      {{#if isFireteamListing}}
        <i class="fa fa-users listing-type" data-toggle="tooltip" data-placement="right" title="Fireteam looking for gaurdians"></i>
      {{else}}
        <i class="fa fa-user listing-type" data-toggle="tooltip" data-placement="right" title="Guardian looking for fireteam"></i>
      {{/if}}
    </td>
    <td class="visible-xs-inline-block visible-sm visible-md visible-lg guardian-details">
      <a href="{{profileUrl}}" target="_blank" class="label label-default visible-xs-inline visible-sm-inline visible-md-inline visible-lg-inline gamertag">{{gamertag}}</a>
      <div class="visible-xs-inline-block visible-sm-inline visible-md-inline visible-lg-inline badges">
        {{#if has_mic}}
        <i class="fa fa-microphone" data-toggle="tooltip" data-placement="bottom" title="Has Microphone"></i>
        {{else}}
          <i class="fa fa-microphone-slash" data-toggle="tooltip" data-placement="bottom" title="Does Not Have Microphone"></i>
        {{/if}}
        {{#if has_exp}}
          <i class="fa fa-certificate" data-toggle="tooltip" data-placement="bottom" title="Has Activity Expierence"></i>
        {{/if}}
      </div>
      <div class="visible-xs-inline visible-sm visible-md visible-lg misc-info">
        {{#if isFireteamListing}}
          <span class="label label-default">{{required_fireteam_members}} More Guardian{{#if requiresMoreThanOneMember}}s{{/if}} Required</span>
        {{else}}
          <span class="guardian-level-class">Level {{level}} {{class}}</span>
        {{/if}}
      </div>
      <div class="visible-xs-block visible-sm visible-md visible-lg core-info">
        <span>{{platform}} - {{region}}</span>
      </div>
    </td>
    <td>
      <p><strong>{{activity}}</strong></p>
      <p>{{comment}}</p>
    </td>
    <td>
      <p class="posted-date"><span class="hidden-sm hidden-md hidden-lg">Posted</span> {{createdAt}}</p>
      <p>
        {{#if isMyListing}}
          <button class="btn btn-danger btn-xs" data-action="remove-listing">Remove My Listing</button>
        {{/if}}
      </p>
    </td>
  </tr>
</template>
