<template name="listing">
  <tr class="listing">
    <td class="listing-type">
      {{#if isFireteamListing}}
        <i class="fa fa-users" data-toggle="tooltip" data-placement="right" title="Fireteam looking for guardians"></i>
      {{else}}
        <i class="fa fa-user" data-toggle="tooltip" data-placement="right" title="Guardian looking for fireteam"></i>
      {{/if}}
    </td>
    <td>
      <div class="gamertag-badges">
        <a class="label label-default gamertag" tabindex="0">{{gamertag}}</a>
        {{#if has_mic}}
        <i class="fa fa-microphone" data-toggle="tooltip" data-placement="bottom" title="Has Microphone"></i>
        {{else}}
          <i class="fa fa-microphone-slash" data-toggle="tooltip" data-placement="bottom" title="Does Not Have Microphone"></i>
        {{/if}}
        {{#if has_exp}}
          <i class="fa fa-certificate" data-toggle="tooltip" data-placement="bottom" title="Has Activity Expierence"></i>
        {{/if}}
      </div>
      <div class="meta">
        {{#if isFireteamListing}}
          <span class="label label-default">{{required_fireteam_members}} More Guardian{{#if requiresMoreThanOneMember}}s{{/if}} Required</span>
        {{else}}
          <span class="level-class">Level {{level}} {{class}}</span>
        {{/if}}
      </div>
      <div class="platform-region">
        <span>{{platform}} - {{region}}</span>
      </div>
      <div class="interact">
        {{#unless isMyListing}}
        <button class="btn btn-default btn-s" data-action="send-message" data-user-id="{{user_id}}">Send Message</button>
        {{/unless}}
        <a href="{{profileUrl}}" class="btn btn-default btn-s" target="_blank">View Profile</a>
      </div>
    </td>
    <td>
      <p><strong>{{activity}}</strong></p>
      <p>{{comment}}</p>
    </td>
    <td>
      <p class="posted-date">
        <span class="hidden-sm hidden-md hidden-lg">Posted</span> {{createdAt}}
      </p>
      <p class="remove-listing">
        {{#if isMyListing}}
          <button class="btn btn-danger btn-xs" data-action="remove-listing">Remove My Listing</button>
        {{/if}}
      </p>
    </td>
  </tr>
</template>
