<body>
  <header class="header">
    <div class="container">
      <img src="destiny-logo-white.png" alt="Destiny Logo" class="destiny-logo">
      <div class="well">
        <p class="lead">The quickest and easiest way to find a Destiny fireteam.</p>
        <p class="intro"><strong>Welcome!</strong> Looking for a fireteam? We've got you covered! Have a look through the listings below, or use the filters to find a fireteam suitable for you. Alternatively create your own listing for you or your fireteam. <strong>All listings &amp; messages will be automatically removed after 1 hour.</strong> You can only have 1 listing active at a time. If you spot a problem with the website or have any feedback be sure to let us know! Tweet us at <a href="http://www.twitter.com/findmeafireteam" target="_blank">@findmeafireteam</a> or send an email to <a href="mailto:admin@findmeafireteam.com">admin@findmeafireteam.com</a>.</p>
        {{> actions}}
      </div>
      {{> chats}}
    </div>
  </header>
  <div class="container" id="main">
    {{> filterListings}}
    {{> listings}}

    {{> joinFireteam}}
    {{> formFireteam}}
    {{> chat}}

    {{> footer}}
  </div>
</body>
