<template name="chats">
  {{#if chats.count}}
    <div class="btn-group " id="chats">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-comments"></i> Chats {{#if newMessagesCount}}<span class="badge">{{newMessagesCount}}</span>{{/if}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {{#each chats}}
        <li class="chat-recipient">
          <a href="#" data-action="send-message" data-user-id="{{recipient}}">{{recipientAlias recipient}} {{#if chatNewMessagesCount recipient}}<span class="badge">{{chatNewMessagesCount recipient}}</span>{{/if}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</template>
